* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fefefc;
  margin: 0;
  font-family: 'helveticaNueu', 'Lato', 'Roboto' tahoma, sans-serif;
  font-weight: 300;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

@font-face {
  font-family: "helveticaNueu";
  src: url ('https://dl.dropboxusercontent.com/u/804978/froont-page/HelveticaNeue-UltraLight.otf');
  font-weight: 100;
}


/*---------------------------------------- SUB SECTIONS ----------------------------------------*/


.header {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
  padding-top: 3em;
  padding-right: 0;
  padding-bottom: 5em;
  padding-left: 0;
  background: #848481;
  clear: none;
  min-height: 35em;
  background-image: url("https://dl.dropboxusercontent.com/u/804978/froont-page/self_1400.png");
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.about {
  display: block;
  color: #848481;
  margin-right: auto;
  margin-left: auto;
  background: #FEFEFC;
  min-height: 12em;
  z-index: -1;
}

.portfolio {
  display: block;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  background: #C74842;
  min-height: 10em;
  z-index: -1;
}

.more {
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  background: #C74842;
  min-height: 1em;
  z-index: -1;
  padding-bottom: 2%;
  padding-top: 2%;
}

.more:hover {
  background: #b4403a;
}

.more:hover a {
  text-shadow: 0px 2px 8px #FEFEFC;
  animation: mymove 3s infinite;
  -webkit-animation: mymove 3s infinite; /* Chrome, Safari, Opera */
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {margin-left: 50px;}
}

/* Standard syntax */
@keyframes mymove {
    50% {margin-left: 50px;}
}

.skills {
  display: block;
  color: #848481;
  margin-right: auto;
  margin-left: auto;
  background: #FEFEFC;
  min-height: 12em;
  z-index: -1;
}

.hire {
  text-align: center;
  width: 70%;
  height: 100%;
  display: relative;
  margin-right: auto;
  margin-left: auto;
}

.contact {
  display: block;
  overflow: hidden;
  min-height: 18em;
  margin-right: auto;
  margin-left: auto;
  background-color: #8D8B8C;
  background-image: url('https://dl.dropboxusercontent.com/u/804978/froont-page/img/contact.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  /*height: 100%;*/
  z-index: -1;
}

.footer {
  display: block;
  margin-right: auto;
  margin-left: auto;
  /*background: #cdbc6d;*/
  min-height: 12em;
  z-index: -1;
  text-align: center;
}

footer {
  background: url('https://dl.dropboxusercontent.com/u/804978/froont-page/img/footer.png') no-repeat 0 bottom;
  background-size: 100%;
  color: #8C8678;
  position: relative;
  width: 70%;
  min-height: 18em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  -moz-opacity: 0.3;
  -webkit-opacity: 0.3;
  filter:alpha(opacity=30);
  opacity: 0.3;
}

footer a {
  text-decoration: none;
  text-transform: uppercase;
  color: #8C8678;
}

footer #email {
  color: #CEBC6C;
  position: relative;
  float: right;
  text-decoration: none;
  text-transform: uppercase;
}

footer #location {
  position: absolute;
  float: left;
  text-decoration: none;
  text-transform: uppercase;
  }

footer:hover {
  -moz-opacity: 1;
  -webkit-opacity: 1;
  filter:alpha(opacity=100);
  opacity: 1;
}

footer {
  -moz-transition: color 0.5s, background 0.5s, border 0.5s, opacity 0.5s;
  -webkit-transition: color 0.5s, background 0.5s, border 0.5s, opacity 0.5s;
  -o-transition: color 0.5s, background 0.5s, border 0.5s, opacity 0.5s;
  transition: color 0.5s, background 0.5s, border 0.5s, opacity 0.5s;
  text-decoration: none;
  color: #CEBC6C;
}


/*---------------------------------------- SUB SECTIONS ----------------------------------------*/

.nameWrap {
  width: 100%;
  height: 100%;
}

.name {
  text-shadow: 0px 1px 12px #FEFEFC;
  font-size: 10em;
/*  font-family: 'helveticaNueu', 'Lato', 'Roboto' tahoma, sans-serif;*/
  color: #FEFEFC;
  position: relative;
  top: .9em;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
}

.content {
  width: 70%;
  max-width: 64em;
/*  border-left: 1px solid black;
  border-right: 1px solid black;*/
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 3em;
  z-index: 0;
}

.projectWrap {
  width: 99.999999999999999999999999999%;
  height: 50%;
  overflow: hidden;
  background-color: #C74842;
}

.project {
  width: 24.9999999%;
  padding-bottom: 25%;
  position: relative;
  float: left;
  cursor: pointer;
}

.redTint {
  position: absolute;
  text-align: center;
  bottom: 0;
  background-color: rgba(199, 72, 66, .6);
  color: #FFF;
  width: 100%;
  height: 100%;
}

.description {
    position: absolute;
    text-align: center;
    bottom: -600px;
    background-color: rgba(0, 0, 0, .2);
    color: #FFF;
    width: 100%;
    height: 100%;
}

.description a {
  text-transform: uppercase;
  text-decoration: none;
  color: #FEFEFC;
  text-align: center;  
  text-shadow: 0px 1px 12px #fff;
}

.hiddenPics {
  visibility: hidden;
}

.behance a {
  /*min-height: 3em;*/
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #FEFEFC;
  text-align: center;
}

.weapons {
  /*text-align: center;*/
  position: relative;
  /*display: inline;*/
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3%;
  font-size: 4em;
  color: #8E8F8E;
  text-shadow: 0px 2px 10px #8C8678;
}

.phone {
  width: 210px;
  position: relative;
  float: right;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4em;
  color: #FEFEFC;
  z-index: 100;
  padding-top: 2em;
}

.phone a {
  color: #86CABC;
  text-transform: uppercase;
  text-decoration: none;
}

.phone a:hover {
    color: #FEFEFC;
  }

.contactSmall {
    display: none;
    visibility: hidden;
    height: inherit;
  }

.icons {
    /*float: left;*/
    width: 100%;
    max-height: 250px;
    text-align: center;
    position: relative;
    display: inline-block;
}
.icons img {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  max-width: 300px;
  float: left;
  height: inherit;
  width: 33%;
}

/*-----------*/
/*MEDIA QUERIES*/

@media screen and (max-width: 1400px) {
  .header {
  min-height: 35em;
  background-image: url("https://dl.dropboxusercontent.com/u/804978/froont-page/self_1400.png");
  }
  .content {
  width: 65%;
  min-height: 16em;
  }
  .contactSmall {
    visibility: hidden;
    display: none;
  }
  .phone {
    font-size: 1.2em;
    padding-top: 2.6em;
  }
}

@media screen and (max-width: 1024px) {
  .content {
  width: 80%;
  }
  .phone {
    font-size: 1.2em;
    padding-top: 4em;
  }
  .contact {
    /*min-height: 10em;*/
    overflow: hidden;
  }
  .contactSmall {
    display: none;
    visibility: hidden;
    height: 12em;
  }
  .weapons {
    font-size: 3.8em;
  }
}

@media screen and (max-width: 866px) {
  .header {
  min-height: 35em;
  background-image: url("https://dl.dropboxusercontent.com/u/804978/froont-page/self_700tall.png");
  }
  .content {
  width: 90%;
  height: inherit;
  }
  .name {
    font-size: 8em;
    top: 1.3em;
  }
  .weapons {
    font-size: 3.3em;
  }
  .phone {
    font-size: 1em;
    /*padding-top: 4em;*/
    float: none;
    padding-top: 0;
  }
  .contact {
    display: none;
    visibility: hidden;
  }
  .contactSmall {
    display: block;
    visibility: visible;
    color: #CDBB6C;
    background-color: #8C898A;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: block;
    min-height: 2em;
  }
  footer {
    min-height: 10em;
  }
}
@media screen and (max-width: 768px) {
  .header {
  min-height: 35em;
  background-image: url("https://dl.dropboxusercontent.com/u/804978/froont-page/self_700tall.png");
  }
  .content {
  width: 90%;
  height: inherit;
  }
  .name {
    font-size: 8em;
    top: 1.3em;
  }
  .behance a {
  /*font-size: 7em;*/
  }
  .description h2 {
    font-size: 1em;
  }
  .hire {
    width: 80%;
  }
  .weapons {
    font-size: 3.2em;
  }
  .contact {
    display: none;
    visibility: hidden;
  }
  .contactSmall {
    display: block;
    visibility: visible;
    /*height: 100%;*/
  }
  footer {
    min-height: 8em;
  }
}
@media screen and (max-width: 640px) {
  .name {
    font-size: 7em;
    top: 1.6em;
  }
  .content {
  width: 90%;
  }
  .behance a {
  /*font-size: 6em;*/
  }
  .hire {
    width: 80%;
  }
  .weapons {
    width: 100%;
    /*height: 300px;*/
    font-size: 2.9em;
  }
  .icons {
    text-align: center;
    position: relative; 
    display: inline-block;
  }
  .icons img {
    width: 33%;
  }








  .contact {
    display: none;
    visibility: hidden;
  }
  .contactSmall {
    display: block;
    visibility: visible;
  }
footer {
  background: url('');
  color: #8C8678;
  position: relative;
  width: 70%;
  min-height: 6em;
  margin-left: auto;
  margin-right: auto;
  }
}
@media screen and (max-width: 560px) {
  .name {
    font-size: 6em;
    top: 1.9em;
  }
  .content {
  width: 90%;
  }
  .behance a {
  /*font-size: 5em;*/
  }
  .description h2 {
    font-size: .7em;
  }
  .contact {
    display: none;
    visibility: hidden;
  }
  .contactSmall {
    display: block;
    visibility: visible;
  }
  .icons img {
    width: 33%;
  }
  footer {
    min-height: 6em;
  }
}
@media screen and (max-width: 480px) {
  .header {
  min-height: 26em;
  background-image: url("https://dl.dropboxusercontent.com/u/804978/froont-page/self_480.png");
  }
  .content {
  width: 90%;
  }
  .name {
    font-size: 4em;
    top: 2.1em;
  }
  .portfolio {
    display: none;
    visibility: hidden;
  }
  .portfolio_small {
    display: block;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    background: #C74842;
    min-height: 2em;
    z-index: -1;
  }
  .project_small_wrap {
    width: 99.9%;
    height: 50%;
    overflow: hidden;
  }
  .project_small {
    width: 33.2%;
    padding-bottom: 33.5%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    float: left;
  }
  .behance a {
  /*font-size: 4em;*/
  }
.description h2 {
    font-size: .7em;
  }
  .contact {
    display: none;
    visibility: hidden;
  }
  .contactSmall {
    display: block;
    visibility: visible;
  }
  .icons img {
    width: 50%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    min-height: 30em;
    background-image: url("https://dl.dropboxusercontent.com/u/804978/froont-page/self_320x.png");
  }
   .name {
    font-size: 1.6em;
    top: 8em;
    font-family: 'helveticaNueu', 'Lato', 'Roboto' tahoma, sans-serif;
    font-weight: 500;
  }
  .content {
  width: 90%;
  }
  .portfolio {
    display: none;
    visibility: hidden;
  }
  .portfolio_small {
    display: block;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    background: #C74842;
    min-height: 2em;
    z-index: -1;
  }
  .project_small_wrap {
    width: 99.9%;
    height: 50%;
    overflow: hidden;
  }
  .project_small {
    width: 33.2%;
    padding-bottom: 33.3%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    float: left;
  }
  .behance a {
  /*font-size: 2em;*/
  }
  .contact {
    display: none;
    visibility: hidden;
  }
  .contactSmall {
    display: block;
    visibility: visible;
  }
   .icons img {
    width: 60%;
  }
}

